*{
    background-color: blueviolet;
    color: beige;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

#imgPerfil{
   border-radius: 50%; 
   border:solid 10px;
   border-color:lightgoldenrodyellow;
}

.titulos{
    font-size: 200%;
    font-style:italic;
   
}
h2{
    font: size 300%; ;
}

#biografia{
    width: 70vw;
    text-align: center;
}


#biografia{
    display: inline;
}
#filmografia{
    text-align:center;
}

#peliculas{
 width: 30vw;
 display:inline-block
}
#conyuges{
    width: 30vw;
    display: inline-block;
}
#hija{
    text-align: center;
}
#hija{
    display:inline;
}
#imagenHija{
    width: 20%;
    border-radius: 80%;
    border:solid 5px;
    border-color:lightgoldenrodyellow;
}
#premios{
    display:inline-block;
}
#aceventura{
    width: 20%;
}
#tontoyretonto{
    width: 20%;
}
#lamascara{
    width: 20%;
}
#trumanshow{
    width: 20%;
}
#grinch{
    width: 20%;
}
#todopoderoso{
    width: 20%;
}
#lemony{
    width: 20%;
}
#eternal{
    width: 20%;
}
#numero23{
    width: 20%;
}
#dark{
    width: 20%;
}