*{
    background-color:rgb(0, 0, 0);
    color: rgb(138, 148, 90);
    text-align: center;
    font-family:Marmelad


}
.imgPerfil{
    width: 100%;
}

.titulos{
    font-size: 200%;
    font-style:Alegreya Sans SC

   
}
h2{
    font: size 300%; ;
}

#biografia{
    width: 60vw;
    text-align: center;
}


#biografia{
    display: inline;
}


#conyuges{
    width: 30vw;
    display: inline-block;
}
#hija{
    text-align: center;
}
#hija{
    display:inline;
}
#imagenHija{
    width: 39.5%;

}
#premios{
    display:inline;
}
#imagenglobo1{
    width: 40%;
}
.flexelemento{
    width: 50%;
    height:50%;
    background-color: black;
    color:black;
    font-size: 500%;

}
.flexContenedor{
display:inline;
display: flex;
flex-wrap: wrap;
flex-direction:row;
}
#carousel-item{
    width:10%;
}
#globo2{
    width: 50,5%;
}
#globo1{
    width: 50%;
}
#flexelemento5{
    
}